{% load static %}
<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1" />
  <title>{% block title %}Tutor{% endblock %}</title>
  <link rel="stylesheet" href="{% static 'core/css/main.css' %}">
</head>
<body>
  <div class="navbar">
    <div class="brand">Prepro • Tutor</div>
    <div class="navlinks">
      <a href="/tutor/students/">Students</a>
    </div>
  </div>

  <div class="container">
    {% block content %}{% endblock %}
  </div>
</body>
</html>
